{%extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center"><progress value={{kvizovi[0].broji}} max={{kvizMaxPitanja[0]["maks"]}} style="width:80%;height: 30px;background-color:#4525b6;"></progress></div>
<div class="row justify-content-md-center">
<form action="">

    <div id="container-text-pitanja" style="display: flex;justify-content: center;align-items: center; height: 200px; width: 80%; outline: none; padding: 20px; border-radius: 5px;border: 1px solid lightgrey;
    border-bottom-width: 2px;font-size: 22px;background: -webkit-linear-gradient(right, #2810af, #4525b6, #2810af, #4525b6); color: white;">
    <p id="tekst-pitanja">{{tekstp[0].tekst}}</p></div>
</div>
<div class="row justify-content-md-center">

    
    <div onclick="location.href='{{url_for('render_kviz',id=kvizovi2[0].id,idp=kvizovi[0].broji+1)}}';" id="container-text-odgovor1" style="display: flex;justify-content: center;align-items: center;margin:15px;text-align: center; height: 100px; width: 40%; outline: none; padding: 5px; border-radius: 10px;border: 1px solid lightgrey;
        border-bottom-width: 2px;font-size: 20px;background: -webkit-linear-gradient(right, #2810af, #4525b6, #2810af, #4525b6); color: white;">
        <p id="tekst-odg1">{{tekstp[0].odg1}}</p>
    </div>
    
    
    <div onclick="location.href='{{url_for('render_kviz',id=kvizovi2[0].id,idp=kvizovi[0].broji+1)}}';" id="container-text-odgovor2" style="display: flex;justify-content: center;align-items: center;margin:15px;text-align: center; height: 100px; width: 40%; outline: none; padding: 5px; border-radius: 10px;border: 1px solid lightgrey;
    border-bottom-width: 2px;font-size: 20px;background: -webkit-linear-gradient(right, #2810af, #4525b6, #2810af, #4525b6); color: white;">
    <p id="tekst-odg2">{{tekstp[0].odg2}}</p></div>
</div>
</a>

    <div class="row justify-content-md-center">
    <div onclick="location.href='{{url_for('render_kviz',id=kvizovi2[0].id,idp=kvizovi[0].broji+1)}}';" id="container-text-odgovor3" style="display: flex;justify-content: center;align-items: center;margin:15px;text-align: center; height: 100px; width: 40%; outline: none; padding: 5px; border-radius: 10px;border: 1px solid lightgrey;
    border-bottom-width: 2px;font-size: 20px;background: -webkit-linear-gradient(right, #2810af, #4525b6, #2810af, #4525b6); color: white;">
    <p id="tekst-odg3">{{tekstp[0].odg3}}</p></div>
    
    
        <div onclick="location.href='{{url_for('render_kviz',id=kvizovi2[0].id,idp=kvizovi[0].broji+1)}}';" id="container-text-odgovor4" style="display: flex;justify-content: center;align-items: center;margin:15px;text-align: center; height: 100px; width: 40%; outline: none; padding: 5px; border-radius: 10px;border: 1px solid lightgrey;
    border-bottom-width: 2px;font-size: 20px;background: -webkit-linear-gradient(right, #2810af, #4525b6, #2810af, #4525b6); color: white;">
    <p id="tekst-odg4">{{tekstp[0].odg4}}</p></div>

</div>
</form>


{% endblock %}