<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/bootstrap-4.5.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/fontawesome-free-6.2.1/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/style2.css">
        <title>Kviz</title>
    </head>
    <body>
        <div class="grid-container" style="display: flex; background-color: aqua; height: 100%;">
            <div class="col-md-2 " style="background-color:#b92b2b; overflow:scroll;overflow-x: hidden; overflow-y: scroll;padding:20px;"><!--div za izbor kviza-->
                 <h3 class="sidebar-head">OBLASTI</h3>
        
                {% set slots = [] %}  
                {% for kviz in kvizovi  %}
                {% if kviz.ime in slots %}
                {% else %}
                <!--ovde id=kviz.id sam promenio >>> id=kviz.quiz_id  zato sto kada izbrisemo pitanje promeni se tabela  i treba da ovde izbacuje po id kviza a ne id pitanja   /-milan-  -->
                <div><a href="{{url_for('render_modifikuj',id=kviz.quiz_id,idp=kviz.broji)}}">{{kviz.ime}}</a></div>
                
                {% set __ = slots.append(kviz.ime) %}
                {% endif %}
                {% endfor %}

                <div class="button-add"><a href="{{ url_for("novi_kviz")}}">
                    
                    <button class="btn btn-primary" style="float: right; width: 88%; position: absolute;
                    bottom: 10px;">Dodaj novi kviz</button>
                </a></div>
            
            
        
                </div>
            <div class="col-md-8" style="background-color:#c29417;"><!--div kviza-->
                <div class="row justify-content-md-center">
                    <div class="col-md-auto" style="margin-top: 80px;">
                    
                        <h1>{{kvizovi.ime}}</h1>
                    </div>
                </div>

                <div class="container-modifikuj" style="display: flex; background-color: aqua; max-height: 500px;">
                    <div class="col-md-2 " style="background-color:#b92b2b; overflow:scroll; overflow-x: hidden; overflow-y: scroll; padding:20px; "><!--div za izbor kviza-->
                        <h3 class="sidebar-head">PITANJA</h3>
        
                        {% for pitanje in pitanja %}
                            <div>
                                <a href="{{url_for("render_modifikuj",id=pitanje.quiz_id,idp=pitanje.broji)}}">{{pitanje.broji}}</a>
                            </div>
                        {% endfor %}
                
                        <div class="button-add"><a href={{ url_for("novo_pitanje", id=kvizovi2[0].id)}}><button class="btn btn-primary"  style="float: right; width: 88%; position: absolute;
                            bottom: 10px;   ">Dodaj novo pitanje</button></a>
                    
    
        
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="container-unos-podataka" style="padding: 30px;width: 100%;">
                        <!-- ovde si pogresio umesto id=kvizovi[0].id treba kvizovi2[0].id     takodje idp=tekstp[0].id >>>>idp=tekstp[0].broji      /-milan-   -->
                        <form action={{ url_for('render_modifikuj' , id=kvizovi2[0].id, idp=tekstp[0].broji)}}  method="POST" >

                            <div class="field" style="height: 40px; width: 100%;;">
                                <input id="unos-text-kviza" name="txt_kviz"  type="text" value="{{kvizovi2[0].ime}}" style="height: 100%; width: 100%;outline: none;padding-left: 15px;border-radius: 5px;border: 1px solid lightgrey;       
                                 border-bottom-width: 2px;font-size: 17px;transition: all 0.3s ease; ">         
                            </div>
                        <div class="field" style="height: 40px; width: 100%; margin-top: 20px;">

                            <input id="unos-text-pitanja" name="txt" type="text" value="{{tekstp[0].tekst}}" 
                                style="height: 100%; width: 100%;outline: none;padding-left: 15px;border-radius: 5px;border: 1px solid lightgrey;
                                border-bottom-width: 2px;font-size: 17px;transition: all 0.3s ease; ">
                        </div>
                        <div class="field" style="height: 40px; width: 100%; margin-top: 20px;">


                            <input id="unos-odg1" name="odg1" type="text" value="{{tekstp[0].odg1}}" 
            
                            style="height: 100%; width: 100%;outline: none;padding-left: 15px;border-radius: 5px;border: 1px solid lightgrey;
                            border-bottom-width: 2px;font-size: 17px;transition: all 0.3s ease; ">
                        </div>
                        <div class="field" style="height: 40px; width: 100%; margin-top: 20px;">

                            <input id="unos-odg2" name="odg2" type="text" value="{{tekstp[0].odg2}}" 
            
                            style="height: 100%; width: 100%;outline: none;padding-left: 15px;border-radius: 5px;border: 1px solid lightgrey;
                            border-bottom-width: 2px;font-size: 17px;transition: all 0.3s ease; ">
                        </div>
                        <div class="field" style="height: 40px; width: 100%; margin-top: 20px;">


                            <input id="unos-odg3"  name="odg3" type="text" value="{{tekstp[0].odg3}}" 
                            
                            style="height: 100%; width: 100%;outline: none;padding-left: 15px;border-radius: 5px;border: 1px solid lightgrey;
                            border-bottom-width: 2px;font-size: 17px;transition: all 0.3s ease; ">
                        </div>
                        <div class="field" style="height: 40px; width: 100%; margin-top: 20px;">


                            <input id="unos-odg4" name="odg4" type="text" value="{{tekstp[0].odg4}}" 
                            
                            style="height: 100%; width: 100%;outline: none;padding-left: 15px;border-radius: 5px;border: 1px solid lightgrey;
                            border-bottom-width: 2px;font-size: 17px;transition: all 0.3s ease; ">
                        </div>
                        <div class="field"  style="height: 40px; width: 100%; margin-top: 20px;">
                            <select id="dropdown-tacan-odgovor" name="sel_odg"  style="height: 100%; width: 30%; outline: none; padding-left: 15px; border-radius: 5px;border: 1px solid lightgrey;
                            border-bottom-width: 2px;font-size: 17px;">
                                
                                <option {% if tekstp[0].tacno==1 %} selected {% endif %}  value="1" >Odgovor 1</option>
                                <option {% if tekstp[0].tacno==2 %} selected {% endif %}  value="2" >Odgovor 2</option>
                                <option {% if tekstp[0].tacno==3 %} selected {% endif %}  value="3" >Odgovor 3</option>
                                <option {% if tekstp[0].tacno==4 %} selected {% endif %}  value="4" >Odgovor 4</option>
                            </select>
                        
                            <input type="submit" value="Sacuvaj" class="btn btn-primary">
                            

                            <!--promenio sam vrednosti id i idp u delete id=kvizovi[0].id, idp=pitanja[0].broji   >>>    id=kvizovi2[0].id, idp=pitanja1[0].broji   /-milan- -->

                            <input type="submit" formaction={{ url_for("delete_pitanje", id=kvizovi2[0].id, idp=pitanja1[0].broji)}} ata-toggle="modal" data-target="#pitanje" value="Izbrisi pitanje" class="btn btn-primary">


                            <!--dodao sam ovo za brisanje kviza dugme     /-milan- -->
                            <input type="submit" formaction={{ url_for("delete_kviz", id=kvizovi2[0].id)}}  value="Izbrisi kviz" class="btn btn-primary">
                            
                    
                    
                        </div>
                        </form>
                        <a href={{ url_for("render_pocetna",id=1,idp=1)}}><button type="button" formaction="" class="btn btn-primary"  style="float: right;">IZADJI</button></a>
                
                        </div>
                    </div>

                    </div>
        
                </div>
        
                <!-- dole je base-->
                <div class="col-md-2"  style="background-color:#44c91c;overflow-x: hidden; overflow-y: scroll; padding: 20px;"><!--div za rang listu-->
                    <h3 class="sidebar-head">Rang lista</h3>
                    <ol type="1" >
                        {% for korisnik in korisnici %}
                        <li ><div>{{korisnik.ime}}</div></li>
                        {% endfor %}
                    </ol>
                    <a href={{ url_for("logout")}}><button type="button" formaction="" class="btn btn-primary"  style="float: right; width: 88%; position: absolute;
                        bottom: 10px; padding: 10px; ">LOGOUT</button></a>
                </div>
        </div>





        <script src="/static/bootstrap-4.5.3/js/bootstrap.js"></script>
            <script src="/static/fontawesome-free-6.2.1/js/all.js"></script>
            <script src=""></script>
    </body>
</html>